[submodule "picovoice_quiz/picovoice"]
	path = picovoice_quiz/picovoice
	url = git@github.com:Prisca-Lab/picovoice_recognition.git
[submodule "picovoice_ros"]
	path = picovoice_ros
	url = git@github.com:vignif/picovoice_ros.git
