<?xml version="1.0"?>
<launch>
    <!-- DEBUG | INFO | WARNING | ERROR | CRITICAL -->
    <env name="LOG_LEVEL" value="DEBUG"/>


    <arg name="condition" /> 
    <param name="condition" value="$(arg condition)"/>

    <arg name="user_id" /> 
    <param name="user_id" value="$(arg user_id)"/>

    <node name="quiz" pkg="quiz" type="quiz_node.py" required="true" output="screen"/>
    <node name="voice" pkg="picovoice_ros" type="pico_node.py" args="_device:=-1" output="screen"/>
    <node name="robot" pkg="robot_behavior" type="robot_node.py" output="screen"/>

</launch>